@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #8263a3;
    --text: #232637;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn {
    position: absolute;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
}


a {
    text-decoration: none;
    transition: 0.3s;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #dbdce0;
}
body::after {
    position: fixed;
    content: "";
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    background-color: var(--text);
    z-index: -1;

    animation: body-bg 1s ease-in-out forwards;
}


@keyframes body-bg {
    0% {
        width: 0vw;
    }

    100% {
        width: 50vw;
    }
}
body::before {
    position: fixed;
    content: "0";
    top: 0;
    left: 0;
    transform: translate(-50% -50%);
    font-size: 70rem;
    font-weight: 200;
    z-index: -1;
    color: var(--white);
    opacity: 0.5;
}
.container {
    position: relative;
    isolation: isolate;
    min-height: 100vh;
    max-width: var(--max-width);
    margin-inline: auto;
    overflow: hidden;
}

nav {
    padding: 2rem 0;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}