@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #8263a3;
    --text: #232637;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn {
    position: absolute;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
}


a {
    text-decoration: none;
    transition: 0.3s;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #dbdce0;
}
body::after {
    position: fixed;
    content: "";
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    background-color: var(--text);
    z-index: -1;

    animation: body-bg 1s ease-in-out forwards;
}


@keyframes body-bg {
    0% {
        width: 0vw;
    }

    100% {
        width: 50vw;
    }
}
body::before {
    position: fixed;
    content: "0";
    top: 0;
    left: 0;
    transform: translate(-50% -50%);
    font-size: 70rem;
    font-weight: 200;
    z-index: -1;
    color: var(--white);
    opacity: 0.5;
}
.container {
    position: relative;
    isolation: isolate;
    min-height: 100vh;
    max-width: var(--max-width);
    margin-inline: auto;
    overflow: hidden;
}

nav {
    padding: 2rem 0;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links a {
    font-family: 500;
}


.nav-links .logo {
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-left a {
    color: var(--text);
}

.nav-right a {
    color: var(--white);
}

.nav-links a:hover {
    color: var(--primary);

}
.letter-s {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40rem;
    font-weight: 900;
    line-height: 40rem;
    color: var(--primary);
}
.container img {
    position: absolute;
    width: 100%;
    max-width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 50 rgba(0, 0, 0, 0.8));
}

.container h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    color: var(--white);
    letter-spacing: 25px;
}

.text-left {
    transform: translate(calc(-50% - 250px), -50%);
}

.text-right {
    transform: translate(calc(-50% + 250px), -50%);
}


.container .explore {
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 225px));
    color: var(--text);
    background-color: var(--white);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}
.container .print {
    top: 50%;
    right: 0;
    transform: translate(0, -50%) rotate(90deg);
    padding: calc(1rem -4px) calc(2rem - 4px);
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
}
.container .catalog {
    top: 25%;
    left: 0;
    transform: translate(0, -50%) rotate(90deg);
    padding: calc(1rem -4px) calc(2rem - 4px);
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
}
.container h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    font-weight: 500;
}

.container h5::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    top: 50%;
}
.feature-1 {
    color: var(--text);
    transform: translate(calc(-50% - 300px), calc(-50% - 200px));
}

.feature-2 {
    color: var(--white);
    transform: translate(calc(-50% + 300px), calc(-50% - 200px));
}
.feature-3 {
    color: var(--text);
    transform: translate(calc(-50% - 300px), calc(-50% + 200px));
}
.feature-4 {
    color: var(--white);
    transform: translate(calc(-50% + 300px), calc(-50% + 200px));
}

.feature-1::after,
.feature-3::after {
    right: 0;
    transform: translate(calc(100% + 50px), -50%);
    background-color: var(--text);
}
.feature-2::after,
.feature-4::after {
    left: 0;
    transform: translate(calc(-100% - 40px), -50%);
    background-color: var(--white);
}

.footer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-inline: 1rem;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.footer p{
    font-size: .9rem;
    color: var(--text);

}

.footer-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.footer-links li{
    opacity: 0;
    animation: fade-in .3s ease-in-out forwards;
}
.footer-links li:nth-child(1){
    animation-delay: 6s;
}
